{% extends "misago/base.html" %}
{% load i18n %}


{% block content %}
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-xs-12">
  <h3>Η σελίδα για μηχανικούς</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="category-description">
    <div class="page-lead">
      <br>
      <p class="lead">
          Τρόπος λειτουργίας
      </p>
    </div>
  </div>
        <p class="detail-text">Η σελίδα απευθύνεται τόσο σε μηχανικούς, όσο και σε ιδιώτες.</p>
        <ol>
          <li>
            <p class="detail-text">
              Ο ενδιαφερόμενος αναρτάει μια αγγελία με σκοπό να πραγματοποιήσει μια εργασία.
            </p>
            <p class="detail-text">
              Η αγγελία αυτή μπορεί να περιέχει όλες τις απαραίτητες λεπτομέρειες που κρίνει ο ενδιαφερόμενος χρήσιμες
              για τη διεκπεραίωση του έργου.
            </p>
            <p class="detail-text">
            Τέτοιες είναι:
            </p>
            <ul>
              <li class="detail-text">Περιγραφή έργου με κέιμενο, εικόνα</li>
              <li class="detail-text">Εισαγωγή αρχείων για την καλύτερη πληρότητα των παρεχόμενων στοιχείων</li>
              <li class="detail-text">Προθεσμία παράδοσης</li>
            </ul>
          </li>
          <br>
          <li>
            <p class="detail-text">
              Ο εργαζόμενος μηχανικός απαντά σε αυτή την αγγελία με μία οικονομική προσφορά, η οποία περιέχει όλα τα
              απαραίτητα στοιχεία, ώστε να είναι ωφέλιμη για τον ενδιαφερόμενο.
            </p>
            <p class="detail-text">
              Τέτοια στοιχεία μπορούν να είναι:
            </p>
            <ul>
              <li class="detail-text">Η τιμή των παρεχόμενων εργασιών</li>
              <li class="detail-text">Η ημερομηνία παράδοσης των εργασιών</li>
              <li class="detail-text">Πιθανές λεπτομέρειες που μπορούν να αναφερθούν σχετικά με τις εν λόγω εργασίες</li>
            </ul>
          </li>
          <br>
          <li>
            <p class="detail-text">
              Επίσης δίνεται η δυνατότητα αποστολής άμεσου μηνύματος στον ενδιαφερόμενο από το μηχανικό, ώστε να υπάρχει
              καλύτερη και πιο άμεση συνεννόηση για τις εργασίες.
            </p>
        </ol>
        <br>
        <p class="detail-text">
          Βήμα 1: Ανάρτηση αγγελίας
        </p>
        <p class="detail-text">
          Βήμα 2: Οικονομική προσφορά από μηχανικούς
        </p>
        <p class="detail-text">
          Βήμα 3: Αξιολόγηση προσφορών και ανάθεση εργασίας
        </p>
          </div>

{% endblock content %}
